@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Roboto Mono', monospace;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 80px;
    background-image: url(/src/markus-spiske-kK7uPfb2YWU-unsplash.jpg);
    background-position: top;
}

.titleContainer{
    border: 1px solid black;
    padding: 20px;
    background-color: black;
}

.headerContainer h1{
    color: white;
}

.navContainer{
    width: 100%;
    background: rgba(#000000, 0.4);
}

.navContainer ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.navContainer li{
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 10px 20px 0px 20px;
    border: 1px solid white;
    background-color: black;
}

.navContainer a{
    color: white;
    text-decoration: none;
    display: block;
    width: 200px;
    height: 100%;
    padding: 20px;
}

.bodyContainer{
    background: rgba(#000000, 0.4);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hoursContainer{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    margin: 0 50px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hoursContainer h3{
    position: relative;
    bottom: 90px;
    font-weight: 700;
}

.hoursContainer p{
    font-weight: 700
}

.locationContainer{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    // margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.locationContainer h3{
    position: relative;
    bottom: 90px;
    font-weight: 700;
}

.locationContainer p{
    font-weight: 700;
    text-align: center;
}
